#define ZMK_POINTING_DEFAULT_MOVE_VAL 2100  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 14    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>
#include <input/processors.dtsi>   // for speed layer
#include <zmk-helpers/helper.h>


#define CMK 0 // parameterize layer names
#define NUM 1
#define MSE 2
#define MMV 3
#define BRW 4
#define NAV 5
#define MCR 6
#define FUN 7

#define CAG(keycode) LC(LG(LA(keycode)))  // shorten hyper key definition
#define free &trans
#define XX   &none
#define ENCODER &inc_dec_kp

// scrolling is very slow on windows
// mouse layer is the least used layer. Move it? lefthand combo: w + p
// 5x arrow on BLANK TRIGGER!!!!!!!
// --> macro layer with easy combo trigger
//      save
//      del (combo on PRD layer)
//      esc/enter (combo on PRD layer)
//      &hrm on base. &sk on combo with thumb.
//      Alternatively, thumb becomes a layer button with:
//          copy, paste, cut, save, LA(N1), LA(F1), F4
// evaluate usage of enter key


// overrides
&mmv_input_listener { 
    speeder { layers = <MMV>;
      input-processors = <&zip_xy_scaler 4 1>; };  };
&mmv {
    trigger-period-ms = <8>;
    time-to-max-speed-ms = <340>;
    acceleration-exponent = <1>; };
&msc_input_listener { 
    speeder { layers = <MMV>;
      input-processors = <&zip_xy_scaler 4 1>; };  };
&msc {
    time-to-max-speed-ms = <1000>;
    acceleration-exponent = <1>; };
&lt { quick-tap-ms = <125>; }; // repeat space
&sk { release-after-ms = <500>; }; // decrease sticky duration

// behaviours
// mt is hold-pref
ZMK_HOLD_TAP(hrm, // HR mods
    flavor = "tap-preferred";
    tapping-term-ms = <220>;
    require-prior-idle-ms = <85>;
    quick-tap-ms = <180>;
    bindings = <&kp>, <&kp>; )
ZMK_HOLD_TAP(hrl, // HR layer
    flavor = "tap-preferred";
    tapping-term-ms = <190>;
    require-prior-idle-ms = <60>;
    quick-tap-ms = <150>;
    bindings = <&mo>, <&kp>; )
ZMK_HOLD_TAP(am, // automodify
    flavor = "tap-preferred"; // but tap-term reduced from hrm to make holding easier
    tapping-term-ms = <175>;
    require-prior-idle-ms = <90>;
    quick-tap-ms = <200>;
    bindings = <&kp>, <&kp>; )
ZMK_HOLD_TAP(blr, // bootloader + reset
    flavor = "tap-preferred"; tapping-term-ms = <200>; bindings = <&bootloader>, <&sys_reset>; )
ZMK_HOLD_TAP(c_w_l, // caps word/lock
    flavor = "tap-preferred"; tapping-term-ms = <180>; bindings = <&kp>, <&caps_word>; )
ZMK_HOLD_TAP(qu, // qu q
    flavor = "tap-preferred"; tapping-term-ms = <135>; quick-tap-ms = <135>; bindings = <&kp>, <&qu_m>; )
ZMK_TAP_DANCE(ss_s, // tap copy, hold save
    tapping-term-ms = <300>;
    bindings =
        <&mt CAG(N2) CAG(N1)>,
        <&kp PRINTSCREEN>; )
ZMK_TAP_DANCE(ss_c, // same as ^
    tapping-term-ms = <300>;
    bindings =
        <&mt CAG(N4) CAG(N3)>,
        <&kp LS(LG(S))>; )
///////////
//  &tapdance [view macro] mt([view macro 2] [save]) 
// LA(LSHIFT) language swap
ZMK_TAP_DANCE(cam,
    tapping-term-ms = <200>;
    bindings =
    <&mt LA(F1) LA(N1)>,
    <&kp LC(S)>; )
ZMK_MOD_MORPH(cmdq,
    bindings = <&qu Q 0>, <&kp LG(Q)>;
    mods = <MOD_LGUI>; )
ZMK_MOD_MORPH(comma,
    bindings = <&am LT COMMA>, <&kp SCLN>;
    mods = <MOD_LSFT>; )
ZMK_MOD_MORPH(dot,
    bindings = <&am GT DOT>, <&kp COLON>;
    mods = <MOD_LSFT>; )

// macros
ZMK_MACRO(bt_dc_all, // disconnect all bt
    bindings = <&bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3>; )
ZMK_MACRO(qu_m,
    wait-ms = <5>;
    tap-ms = <5>;
    bindings = <&kp Q &kp U>; )
ZMK_MACRO_ONE_PARAM(bt_c, // combine bt_sel with out_ble
    bindings = <&macro_param_1to2  &bt BT_SEL 0  /*&out OUT_BLE*/>; )
ZMK_MACRO(esharp,
    bindings = <&macro_press &kp LALT &macro_tap &kp KP_N0 &kp KP_N2 &kp KP_N3 &kp KP_N3 &macro_release &kp LALT>; )
ZMK_MACRO_ONE_PARAM(penta,
    bindings = <&macro_param_1to1 &kp 0 &macro_param_1to1 &kp 0 &macro_param_1to1 &kp 0 &macro_param_1to1 &kp 0 &macro_param_1to1 &kp 0>; )
ZMK_MACRO_ONE_PARAM(brc,
    bindings = <&macro_param_1to1 &macro_param_2to2 &mt 0 0 &kp LEFT>; )
ZMK_MACRO_ONE_PARAM(brc2,
    bindings = <&macro_param_1to1 &macro_param_2to2 &mt 0 0 &kp LEFT>; ) // add shift, for {} ()

// combos                                                         lyr, t/o, idl
//disable some combos on mouse layer
// order: left-right hand, horiz-vert, left-right, top-bottom
ZMK_COMBO(undo,         &kp LG(Z),            LT4 LT3,            ALL) // cmd z
ZMK_COMBO(esc,          &kp ESC,              LT3 LT2,            ALL, 33, 50) // esc
ZMK_COMBO(v,            &am LG(V) V,          LT2 LT1,            ALL, 50) // v
ZMK_COMBO(msctrl,       &kp LC(UP),           LT3 LT2 LT1,        ALL) // mission control
ZMK_COMBO(bspc,         &kp BSPC,             LM3 LM2,            CMK NUM NAV FUN, 25, 50) // backspace
ZMK_COMBO(tab,          &kp TAB,              LM3 LM1,            ALL, 27) // tab
ZMK_COMBO(enter,        &kp ENTER,            LM2 LM1,            CMK NUM NAV FUN, 24, 60) // enter
ZMK_COMBO(qucombo,      &cmdq Q 0,            LB3 LB2,            ALL) // qu q
ZMK_COMBO(j,            &kp J,                LB2 LB1,            ALL) // j
ZMK_COMBO(bkt,          &mt RBKT LBKT,        LT3 LM3,            ALL) // []
ZMK_COMBO(par,          &mt RPAR LPAR,        LT2 LM2,            ALL) // () 
ZMK_COMBO(slashes,      &am BSLH FSLH,        LT1 LM1,            ALL) // / & bslh 
ZMK_COMBO(bang,         &kp EXCL,             LT0 LM0,            ALL) // !
//ZMK_COMBO(numword,      &num_word NUM,        LT3 LH0,            ALL) // number word
//ZMK_COMBO(del_p,        &mt BSPC DEL,         LM3 LM2,            PRD, 30, 50) // delete
// mid ring bot+top
// ring top mid
// pinky dual
// thumb + finger
ZMK_COMBO(underscore,   &kp UNDERSCORE,       RT1 RT2,            ALL, 22, 50) // _
ZMK_COMBO(bspc2,        &kp BSPC,             RM2 RM3,            CMK NUM NAV FUN, 22, 50) // backspace
ZMK_COMBO(enter2,       &kp ENTER,            RM1 RM2,            CMK NUM NAV FUN, 24, 60) // enter
ZMK_COMBO(tab2,         &kp TAB,              RM1 RM3,            ALL, 27) // tab
ZMK_COMBO(dashes,       &am UNDERSCORE MINUS, RB1 RB2,            ALL) // - _
ZMK_COMBO(bspc_w,       &mt LA(DEL) LA(BSPC), RB2 RB3,            ALL) // word bspc
ZMK_COMBO(inter,        &kp QMARK,            RT0 RM0,            ALL) // ?
ZMK_COMBO(astrk_gr,     &mt GRAVE ASTERISK,   RT1 RM1,            ALL) // * `
ZMK_COMBO(pound_at,     &mt AT POUND,         RT2 RM2,            ALL) // # @
ZMK_COMBO(plus,         &mt PLUS EQUAL,       RT3 RM3,            ALL) // + =
ZMK_COMBO(boot,         &blr 0 0,             LT4 LT0 LM4 LM0,    ALL) // rst left (inner+outer)
ZMK_COMBO(FUN,          &mo FUN,              LH0 LH1,            ALL) // FUN
ZMK_COMBO(CMKL,         &to CMK,              LM3 LM2 LM1,        ALL) // CMK (CAG mirror positions)
ZMK_COMBO(CMKR,         &to CMK,              RM1 RM2 RM3,        ALL) // CMK (CAG mirror positions)
ZMK_COMBO(BRW,          &tog BRW,             LH1 LH0,            ALL) // BRW

ZMK_LAYER(Colemak, // CMK 0
    LAYER_ADAPTER(
// ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮   ╭─────────────┬──────────────┬──────────────┬──────────────┬──────────────╮
XX, &hrm LSHFT Z,  &kp W,         &kp F,      &am LC(LA(LGUI)) P, &kp B,           &kp K,    &am LC(LA(LGUI)) L,  &kp U,       &kp Y,         &kp APOS,      XX,
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├─────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
XX, &hrl NUM A,    &hrm LCTRL R,  &hrm LGUI S,   &hrm LALT T,   &hrm LSHIFT G,     &hrm LSHIFT M, &hrm LALT N,  &hrm LGUI E,   &hrm LCTRL I,  &hrl MSE O,    XX,
// ╰──────────────┼──────────────┼──────────────┼──────────────┼──────────────╯   ╰─────────────┼──────────────┼──────────────┼──────────────┼──────────────╯
XX, XX,            &am LG(X) X,   &am LG(C) C,   &kp D,         XX,                XX,           &kp H,         &comma,        &dot,          XX,            XX,
// ╭──────────────┼──────────────┴──────────────┼──────────────┼──────────────╮   ╭─────────────┼──────────────┼──────────────┴──────────────┼──────────────╮
XX, &mo NUM,       XX,            &kp C_PP,      &mo NUM,       &mt LSHIFT BSPC,  &lt NAV SPACE, &lt MSE APOS,  &kp BSPC,      XX,            &lt MSE APOS,  XX),
// ╰──────────────╯              ╰──────────────┴──────────────┴──────────────╯   ╰─────────────┴──────────────┴──────────────╯              ╰──────────────╯
                                  ENCODER C_VOL_UP C_VOL_DN //&inc_dec_kp PG_UP PG_DN
)
/*
ZMK_LAYER(AKL, // AKL 1
// ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮   ╭─────────────┬──────────────┬──────────────┬──────────────┬──────────────╮
    &none          &kp           &kp           &kp          &am LC(LA(LGUI))  &am LC(LA(LGUI))   &kp      &kp           &kp           &kp 
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├─────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
    &hrm LSHIFT   &hrm LCTRL    &hrm LGUI     &hrm LALT     &hrm LSHIFT       &hrm LSHIFT  &hrm LALT     &hrm LGUI     &hrm LCTRL    &hrl MSE 
// ╰──────────────┼──────────────┼──────────────┼──────────────┼──────────────╯   ╰─────────────┼──────────────┼──────────────┼──────────────┼──────────────╯
                   &kp           &kp           &kp                                            &kp           &comma         &dot
//                ╰──────────────┴──────────────┼──────────────┼──────────────╮   ╭─────────────┼──────────────┼──────────────┴──────────────╯
                                                 &none        &mt LSHFT [letter]      &lt NAV SPACE &mo MSE
//                                              ╰──────────────┴──────────────╯   ╰─────────────┴──────────────╯
)
*/
ZMK_LAYER(Numbers, // NUM 1
    LAYER_ADAPTER(
// ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮   ╭─────────────┬──────────────┬──────────────┬──────────────┬──────────────╮
XX, &none,         &kp PLUS,      &kp BSLH,      &kp DLLR,      &kp CARET,         &kp PIPE,     &kp N7,        &kp N8,        &kp N9,        &kp GRAVE,     XX,
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├─────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
XX, &kp LSHIFT,    &hrm LCTRL EQUAL,&hrm LGUI FSLH,&hrm LALT MINUS,&kp PRCNT,      &kp AMPS,     &hrm LALT N4,  &hrm LGUI N5,  &hrm LCTRL N6, &hrm LSHIFT N0,XX,
// ╰──────────────┼──────────────┼──────────────┼──────────────┼──────────────╯   ╰─────────────┼──────────────┼──────────────┼──────────────┼──────────────╯
XX, XX,            &kp  COMMA,    &kp  DOT,      &kp  TILDE,    XX,                XX,           &kp N1,        &kp N2,        &kp N3,        XX,            XX,
// ╭──────────────┼──────────────┴──────────────┼──────────────┼──────────────╮   ╭─────────────┼──────────────┼──────────────┴──────────────┼──────────────╮
XX, &trans,        XX,            &trans,        &trans,        &trans,            &trans,       &trans,        &trans,        XX,            &trans,        XX),
// ╰──────────────╯              ╰──────────────┴──────────────┴──────────────╯   ╰─────────────┴──────────────┴──────────────╯              ╰──────────────╯
                                  ENCODER C_FF C_PREV //&inc_dec_kp PG_UP PG_DN
)
ZMK_LAYER(Mouse, // MSE 2
    LAYER_ADAPTER(
// ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮   ╭─────────────┬──────────────┬──────────────┬──────────────┬──────────────╮
XX, &mkp MB3,      &mkp MB2,      &msc SCRL_DOWN,&mo MMV,       &kp C_VOL_UP,      &kp C_VOL_UP, &mkp MB4,      &mmv MOVE_UP,  &mkp MB5,      &kp C_PP,      XX,
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├─────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
XX, &kp LSHFT,     &msc SCRL_RIGHT,&msc SCRL_UP, &msc SCRL_LEFT,&kp C_VOL_DN,      &kp C_VOL_DN, &mmv MOVE_LEFT,&mmv MOVE_DOWN,&mmv MOVE_RIGHT,&kp DEL,      XX,   
// ╰──────────────┼──────────────┼──────────────┼──────────────┼──────────────╯   ╰─────────────┼──────────────┼──────────────┼──────────────┼──────────────╯
XX, XX,            &kp LCTRL,     &kp LGUI,      &kp LALT,      XX,                XX,           &kp BACKSPACE, &none,         &none,         XX,            XX,
// ╭──────────────┼──────────────┴──────────────┼──────────────┼──────────────╮   ╭─────────────┼──────────────┼──────────────┴──────────────┼──────────────╮
XX, &mkp MB3,      XX,            &trans,        &trans,        &mkp MB1,          &trans,       &trans,        &trans,        XX,            &trans,        XX),
// ╰──────────────╯              ╰──────────────┴──────────────┴──────────────╯   ╰─────────────┴──────────────┴──────────────╯              ╰──────────────╯
                                  ENCODER C_VOL_UP C_VOL_DN //&inc_dec_kp PG_UP PG_DN
)
ZMK_LAYER(Speed, // MMV 3
    LAYER_ADAPTER(
XX, &trans, &trans, &trans, &trans, &trans, &trans, &trans, &trans, &trans, &trans, XX, 
XX, &trans, &trans, &trans, &trans, &trans, &trans, &trans, &trans, &trans, &trans, XX, 
XX, XX,     &trans, &trans, &trans, XX,     XX,     &trans, &trans, &trans, XX,     XX, 
XX, &trans, XX,     &trans, &trans, &trans, &trans, &trans, &trans, XX,     &trans, XX),
ENCODER C_VOL_UP C_VOL_DN //&inc_dec_kp PG_UP PG_DN
)
ZMK_LAYER(Browser, // BRW 4
    LAYER_ADAPTER(
//  needs work. Integrate encoder for tab switching, volume (layer )?
// ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮   ╭─────────────┬──────────────┬──────────────┬──────────────┬──────────────╮
XX, &kp Z,         &kp LG(W),     &am LS(F) F,   &kp LC(TAB),   &kp C_VOL_UP,      free,         free,          free,          free,          free,          XX,
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├─────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
XX, &kp LC(LEFT),  &kp LG(R),     &kp LGUI,      &kp LC(RIGHT), &kp C_VOL_DN,      free,         free,          free,          free,          free,          XX,
// ╰──────────────┼──────────────┼──────────────┼──────────────┼──────────────╯   ╰─────────────┼──────────────┼──────────────┼──────────────┼──────────────╯
XX, XX,            &kp F,         &kp LC(LS(T)), &to CMK,       XX,                XX,           free,          free,          free,          XX,            XX,
//  ╭─────────────┼──────────────┴──────────────┼──────────────┼──────────────╮   ╭─────────────┼──────────────┼──────────────┴──────────────┼──────────────╮
XX,  &trans,       XX,            &trans,        &trans,        &trans,            &trans,       &trans,        &trans,        XX,            &trans,        XX),
//  ╰─────────────╯              ╰──────────────┴──────────────┴──────────────╯   ╰─────────────┴──────────────┴──────────────╯              ╰──────────────╯
                                  ENCODER LC(TAB) LC(LS(TAB)) //&inc_dec_kp PG_UP PG_DN
)
ZMK_LAYER(Navigation, // NAV 5
    LAYER_ADAPTER(
// ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮   ╭─────────────┬──────────────┬──────────────┬──────────────┬──────────────╮
XX, &ss_s,         &kp CAG(5),   &kp TAB,       free,         &kp C_VOL_UP,      &kp C_VOL_UP, &kp C_PREV,    &kp UP,        &kp C_FF,      &kp C_PP,      XX,
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├─────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
XX, &kp LSHFT,     &kp LCTRL,     &kp LGUI,      &kp LALT,      &kp C_VOL_DN,      &kp C_VOL_DN, &kp LEFT,      &kp DOWN,      &kp RIGHT,     &kp DEL,       XX,
// ╰──────────────┼──────────────┼──────────────┼──────────────┼──────────────╯   ╰─────────────┼──────────────┼──────────────┼──────────────┼──────────────╯
XX, XX,            &ss_c,         &kp INS,       &kp SPACE,     XX,                XX,           &kp BSPC,      &kp LA(BSPC),  &c_w_l CAPSLOCK 0, XX,        XX,
// ╭──────────────┼──────────────┴──────────────┼──────────────┼──────────────╮   ╭─────────────┼──────────────┼──────────────┴──────────────┼──────────────╮
XX, &trans,/*&mo MCR*/ XX,        &trans,        &trans,        &trans,            &trans,       &trans,        &trans,        XX,            &mo MCR,       XX),
// ╰──────────────╯              ╰──────────────┴──────────────┴──────────────╯   ╰─────────────┴──────────────┴──────────────╯              ╰──────────────╯
                                  ENCODER PG_UP PG_DN 
)
ZMK_LAYER(Util, // MCR 6
    LAYER_ADAPTER(
// ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮   ╭─────────────┬──────────────┬──────────────┬──────────────┬──────────────╮
XX, free,          free,          free,          free,          &kp C_VOL_UP,      free,         free,          &penta UP,     free,          free,          XX,
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├─────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
XX, free,          free,          free,          free,          &kp C_VOL_DN,      free,         &penta LEFT,   &penta DOWN,   &penta RIGHT,  &penta DEL,    XX,
// ╰──────────────┼──────────────┼──────────────┼──────────────┼──────────────╯   ╰─────────────┼──────────────┼──────────────┼──────────────┼──────────────╯
XX, XX,            free,          free,          &penta SPACE,  XX,                XX,           &penta BSPC,   free,          free,          XX,            XX,
// ╭──────────────┼──────────────┴──────────────┼──────────────┼──────────────╮   ╭─────────────┼──────────────┼──────────────┴──────────────┼──────────────╮
XX, &trans,        XX,            &trans,        &trans,        &trans,            &trans,       &trans,        &trans,        XX,            &trans,        XX),
// ╰──────────────╯              ╰──────────────┴──────────────┴──────────────╯   ╰─────────────┴──────────────┴──────────────╯              ╰──────────────╯
                                  ENCODER C_VOL_UP C_VOL_DN //&inc_dec_kp PG_UP PG_DN

)
ZMK_LAYER(Function, // FUN 7
    LAYER_ADAPTER(
// ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮   ╭─────────────┬──────────────┬──────────────┬──────────────┬──────────────╮
XX, &kp F1,        &kp F2,        &kp F3,        &kp F4,        &kp F5,            &bt BT_CLR,   &out OUT_BLE,  &out OUT_USB,  &to CMK,       &bt BT_CLR_ALL, XX,
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├─────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
XX, &kp F6,        &kp F7,        &kp F8,        &kp F9,        &kp F10,           &bt BT_CLR,   &bt_c 0,       &bt_c 1,       &bt_c 2,       &bt_c 3,       XX,
// ╰──────────────┼──────────────┼──────────────┼──────────────┼──────────────╯   ╰─────────────┼──────────────┼──────────────┼──────────────┼──────────────╯
XX, XX,            &kp F11,       &kp F12,       &kp INS,       XX,                XX,           &bt_dc_all,    &none,         &none,         XX,            XX,
//  ╭─────────────┼──────────────┴──────────────┼──────────────┼──────────────╮   ╭─────────────┼──────────────┼──────────────┴──────────────┼──────────────╮
XX, &trans,        XX,            &trans,        &trans,        &trans,            &trans,       &trans,        &trans,        XX,            &trans,        XX),
//  ╰─────────────╯              ╰──────────────┴──────────────┴──────────────╯   ╰─────────────┴──────────────┴──────────────╯              ╰──────────────╯
                                  ENCODER C_VOL_UP C_VOL_DN //&inc_dec_kp PG_UP PG_DN
)

/*
ZMK_LAYER(Qwerty, // QWR 1
// ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮   ╭─────────────┬──────────────┬──────────────┬──────────────┬──────────────╮
    &kp Q          &kp W          &kp E          &kp R          &kp T              &kp Y         &kp U          &kp I          &kp O          &kp P
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├─────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
    &hrm LSHIFT A  &hrm LCTRL S   &hrm LGUI D    &hrm LALT F    &kp G              &kp H         &hrm LALT J    &hrm LGUI K    &hrm LCTRL L   &hrm LSHIFT B
// ╰──────────────┼──────────────┼──────────────┼──────────────┼──────────────╯   ╰─────────────┼──────────────┼──────────────┼──────────────┼──────────────╯
                   &am LG(X) X    &am LG(C) C    &kp V                                           &kp N          &kp COMMA      &kp DOT
//                ╰──────────────┴──────────────┼──────────────┼──────────────╮   ╭─────────────┼──────────────┼──────────────┴──────────────╯
                                                 &trans         &trans             &trans        &trans
//                                              ╰──────────────┴──────────────╯   ╰─────────────┴──────────────╯
)
ZMK_LAYER(Productivity, // PRD 4
//&zip_temp_layer PRD <time>
//layer-specific combos?
// ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮   ╭─────────────┬──────────────┬──────────────┬──────────────┬──────────────╮)
    &cam           &kp N9         &kp N8         &kp N7         free               &trans        &trans         &trans         &trans         &trans
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├─────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
    &hrm LSHIFT N0 &hrm LCTRL N6  &hrm LGUI N5  &hrm LALT N4    free               &trans        &trans         &trans         &trans         &trans
// ╰──────────────┼──────────────┼──────────────┼──────────────┼──────────────╯   ╰─────────────┼──────────────┼──────────────┼──────────────┼──────────────╯
                   &am LC(X) N3   &am LC(C) N2   &kp N1                                          &trans         &trans         &trans
//                ╰──────────────┴──────────────┼──────────────┼──────────────╮   ╭─────────────┼──────────────┼──────────────┴──────────────╯
                                                 &kp DEL        free/*layer* /      &trans        &trans
//                                              ╰──────────────┴──────────────╯   ╰─────────────┴──────────────╯
// --> macro layer, triggering on mouse (sensor, input processor)
//      save
//      del (combo on PRD layer)
//      esc/enter (combo on PRD layer)
//      &hrm on base. &sk on combo with thumb.
//      Alternatively, thumb becomes a layer button with:
//          copy, paste, cut, save, LA(N1), LA(F1), F4
)
*/