/ {
    chosen {
        zmk,kscan = &components_up_kscan;
        zmk,physical-layout = &pinky_attached_physical_layout;
    };

    &left_encoder {
        status = "okay";
    };
    &right_encoder {
        status = "okay";
    };*/
};